@font-face {
    font-family: 'Autor';
    src: url(../fonts/Autor-RegularIt.ttf) format('truetype');
    font-weight: 375;
}

@font-face {
    font-family: 'Autor';
    src: url(../fonts/Autor-Medium.ttf) format('truetype');
    font-weight: 494;
}